<a href="https://colab.research.google.com/github/m4deme1ns4ne/PROGRAMMING-6-SEM/blob/main/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("""
Лабораторная работа 2
Волжанин Александр Павлович
""")

Лабораторная работа 2
Волжанин Александр Павлович

In [ ]:
# Импортируем библиотеки
import pandas as pd
from scipy.stats import pearsonr

In [ ]:
# Загрузка данных
df = pd.read_csv('train.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
all_passenger_count = sum(df['PassengerId'].value_counts())

print(f"Кол-во всех пассажирова: {all_passenger_count}")

Кол-во всех пассажирова: 891

In [ ]:
# 1. Количество мужчин и женщин
sex_counts = df['Sex'].value_counts()
print(f"Мужчин: {sex_counts['male']}\nЖенщин: {sex_counts['female']}")

Мужчин: 577
Женщин: 314

In [ ]:
# 2. Подсчитайте сколько пассажиров загрузилось на борт в различных портах?
# Приведите три числа через пробел.

different_ports_counts = df["Embarked"].value_counts()

print(f"Порт Cherbourg: {different_ports_counts.get('C', 0)}",
      f"Порт Queenstown: {different_ports_counts.get('Q', 0)}",
      f"Порт Southampton: {different_ports_counts.get('S', 0)}",
      sep="\n")

Порт Cherbourg: 168
Порт Queenstown: 77
Порт Southampton: 644

In [ ]:
# 3. Посчитайте долю (процент) погибших на параходе (число и процент)?

no_survived_passenget = df['Survived'].value_counts().get(0)

print(f"Умершие пассажиры: {no_survived_passenget}")

print(f"Доля погибших на параходе: {round((no_survived_passenget/all_passenger_count) * 100)}")

Умершие пассажиры: 549
Доля погибших на параходе: 62

In [ ]:
# 4. Какие доли составляли пассажиры первого, второго, третьего класса?

first_class_bilet = df['Pclass'].value_counts().get(1)
second_class_bilet = df['Pclass'].value_counts().get(2)
third_class_bilet = df['Pclass'].value_counts().get(3)

print(f"Кол-во пассажирова первого класса: {first_class_bilet}")
print(f"Кол-во пассажирова второго класса: {second_class_bilet}")
print(f"Кол-во пассажирова третьего класса: {third_class_bilet}")

print()

print(f"Доля пассажиров первого класса на параходе: {round((first_class_bilet/all_passenger_count) * 100)}")
print(f"Доля пассажиров второго класса на параходе: {round((second_class_bilet/all_passenger_count) * 100)}")
print(f"Доля пассажиров третьего класса на параходе: {round((third_class_bilet/all_passenger_count) * 100)}")

Кол-во пассажирова первого класса: 216
Кол-во пассажирова второго класса: 184
Кол-во пассажирова третьего класса: 491

Доля пассажиров первого класса на параходе: 24
Доля пассажиров второго класса на параходе: 21
Доля пассажиров третьего класса на параходе: 55

In [ ]:
# 5. Вычислите коэффициент корреляции Пирсона между количеством супругов (SibSp) и количеством детей (Parch).

count_SibSp = df['SibSp'].dropna()
count_Parch = df['Parch'].dropna()

corr_coef_count_SibSp_count_Parch = pearsonr(count_SibSp, count_Parch)[0]

print(f"Коэффициент корреляции Пирсона для SibSp и Parch равен: {corr_coef_count_SibSp_count_Parch}")

Коэффициент корреляции Пирсона для SibSp и Parch равен: 0.4148376986201561

In [ ]:
# 6. Выясните есть ли корреляция (вычислите коэффициент корреляции Пирсона) между:
    # возрастом и параметром Survived;
    # полом человека и параметром Survived;
    # классом, в котором пассажир ехал, и параметром Survived.

clean_age_survived = df[['Age', 'Survived']].dropna()
corr_coef_Age_Survived = pearsonr(clean_age_survived['Age'], clean_age_survived['Survived'])[0]
print(f"Коэффициент корреляции Пирсона для Age и Survived равен: {corr_coef_Age_Survived}")

clean_sex_survived = df[['Sex', 'Survived']].dropna()
clean_sex_survived['Sex'] = clean_sex_survived['Sex'].map({'male': 1, 'female': 0})
corr_coef_Sex_Survived = pearsonr(clean_sex_survived['Sex'], clean_sex_survived['Survived'])[0]
print(f"Коэффициент корреляции Пирсона для Sex и Survived равен: {corr_coef_Sex_Survived}")

clena_pclass_survived = df[['Pclass', 'Survived']].dropna()
clena_pclass_survived = pearsonr(clena_pclass_survived['Pclass'], clena_pclass_survived['Survived'])[0]
print(f"Коэффициент корреляции Пирсона для Pclass и Survived равен: {clena_pclass_survived}")

Коэффициент корреляции Пирсона для Age и Survived равен: -0.07722109457217767
Коэффициент корреляции Пирсона для Sex и Survived равен: -0.5433513806577551
Коэффициент корреляции Пирсона для Pclass и Survived равен: -0.3384810359610153

In [ ]:
# 7. Посчитайте средний возраст пассажиров и медиану, минимальный и максимальный возраст.

all_age_passenger = df['Age'].dropna()

middle_age_passenger = sum(all_age_passenger) / len(all_age_passenger)

print(f"Средний возраст пассажиров: {middle_age_passenger}")

sorted_all_age_passenger = sorted(all_age_passenger)

first_med_num = sorted_all_age_passenger[len(sorted_all_age_passenger)//2]
second_med_num = sorted_all_age_passenger[(len(sorted_all_age_passenger)//2) + 1]

print(f"Медиана возраста пассажиров: {(first_med_num + second_med_num) / 2}")

print(f"Минимальный возраста пассажиров: {min(all_age_passenger)}")

print(f"Максимальный возраст пассажиров: {max(all_age_passenger)}")

Средний возраст пассажиров: 29.69911764705882
Медиана возраста пассажиров: 28.0
Минимальный возраста пассажиров: 0.42
Максимальный возраст пассажиров: 80.0

In [ ]:
# 8. Посчитайте среднюю цену за билет и медиану, минимальная и максимальные цены.

all_fare_passenger = df['Fare'].dropna()

middle_fare_passenger = sum(all_fare_passenger) / len(all_fare_passenger)

print(f"Средний возраст пассажиров: {middle_age_passenger}")

sorted_all_fare_passenger = sorted(all_fare_passenger)

first_med_num = sorted_all_fare_passenger[len(sorted_all_fare_passenger)//2]
second_med_num = sorted_all_fare_passenger[(len(sorted_all_fare_passenger)//2) + 1]

print(f"Медиана возраста пассажиров: {(first_med_num + second_med_num) / 2}")

print(f"Минимальный возраста пассажиров: {min(all_fare_passenger)}")

print(f"Максимальный возраст пассажиров: {max(all_fare_passenger)}")

Средний возраст пассажиров: 29.69911764705882
Медиана возраста пассажиров: 14.4542
Минимальный возраста пассажиров: 0.0
Максимальный возраст пассажиров: 512.3292

In [ ]:
# 9. Какое самое популярное мужское имя на корабле?

most_common_name = df['Name'].value_counts().idxmax()

print("Самое популярное имя:", most_common_name)

Самое популярное имя: Dooley, Mr. Patrick

In [ ]:
# 10. Какие самые популярные мужское и женские имена людей, старше 15 лет на корабле?

df_over15 = df[df['Age'] > 15].copy()

# Применяем функцию для извлечения имен
df_over15['FirstName'] = df_over15['Name'].apply(extract_first_name)

# Для мужчин
male_names = df_over15[df_over15['Sex'] == 'male']['FirstName'].value_counts()
# Для женщин
female_names = df_over15[df_over15['Sex'] == 'female']['FirstName'].value_counts()

# Вывод самых популярных имен
if not male_names.empty:
    print("Самое популярное мужское имя:", male_names.idxmax())
else:
    print("Нет данных по мужским именам.")

if not female_names.empty:
    print("Самое популярное женское имя:", female_names.idxmax())
else:
    print("Нет данных по женским именам.")

Самое популярное мужское имя: William
Самое популярное женское имя: Anna